GitHub CLI third-party dependencies
====================================

The following open source dependencies are used to build the GitHub CLI.

{{ range . -}}
{{.Name}} ({{.Version}}) - {{.LicenseName}} - {{.LicenseURL}}
{{ end }}
