# GitHub CLI dependencies

The following open source dependencies are used to build the [cli/cli][] GitHub CLI.

## Go Packages

Some packages may only be included on certain architectures or operating systems.

{{ range . }}
- [{{.Name}}](https://pkg.go.dev/{{.Name}}) ([{{.LicenseName}}]({{.LicenseURL}}))
{{- end }}

[cli/cli]: https://github.com/cli/cli
