---
---

// Import what you need from Primer (stored in local `node_modules` directory)
@import "primer-core/index.scss";
@import "primer-product/index.scss";
@import "primer-marketing/index.scss";

// Then import custom Sass from `_sass` as needed
@import "example-custom-styles.scss";
