<nav class="DocsNav d-none d-lg-flex flex-column bg-gray-light p-6">
  {% include docs-nav-content.html %}
</nav>

<div class="d-flex d-lg-none position-fixed bottom-0 width-full border-top bg-white p-3 box-shadow-large" style="z-index: 35;">
 <div class="flex-auto">
   <details class="DocsNav--mobile details-reset details-overlay dropdown position-relative">
     <summary class="btn btn-outline width-full text-center bottom-0">
       CLI manual menu
       <div class="dropdown-caret"></div>
     </summary>

     <details-menu class="width-full position-absolute top-0" style="z-index: 100">
       <nav class="d-flex flex-column px-0 py-5">
         {% include docs-nav-content.html %}
       </nav>
     </details-menu>
   </details>
 </div>
</div>
