<nav class="docs-nav d-flex flex-column bg-gray-light p-6">
  <div class="mb-2">
    <a href="/gh">
      <h3 class="text-gray-dark">Overview</h3>
    </a>
  </div>
  <div class="mb-2">
    <a href="/installation">
      <h3 class="text-gray-dark">Installation</h3>
    </a>
  </div>
  <div class="mb-2 d-flex flex-column">
    <a href="/gh_pr">
      <h3 class="text-gray-dark">pr</h3>
    </a>
    <a href="/gh_pr_create">create</a>
    <a href="/gh_pr_status">status</a>
    <a href="/gh_pr_list">list</a>
    <a href="/gh_pr_view">view</a>
    <a href="/gh_pr_checkout">checkout</a>
  </div>
  <div class="mb-2 d-flex flex-column">
    <a href="/gh_issue">
      <h3 class="text-gray-dark">issue</h3>
    </a>
    <a href="/gh_issue_create">create</a>
    <a href="/gh_issue_status">status</a>
    <a href="/gh_issue_list">list</a>
    <a href="/gh_issue_view">view</a>
  </div>
</nav>
