{% if page.url == '/gh_pr_create.html' %}
<h3>Examples in use</h3>

<h4>Interactively</h4>

<div class="width-full">
<pre class="terminal"><code><span class='gray'>// Create a pull request interactively</span>
<span class='magenta'>~/Projects/my-project</span>$ gh pr create
Creating pull request for <span class="cyan">different-stuff</span> into <span class="cyan">master</span> in ampinsk/test
<b>? Title</b> My new pull request
<b>? Body</b> Lorem ipsum sit dolor.
http://github.com/owner/repo/pull/1
<span class='magenta'>~/Projects/my-project</span>$</code></pre>
</div>

#### With flags

<div class="width-full">
<pre class="terminal"><code><span class='gray'>// Create an issue using flags</span>
<span class='magenta'>~/Projects/my-project</span>$ gh issue create -t "Pull request title" -b "Pull request body"
http://github.com/owner/repo/issue/1
<span class='magenta'>~/Projects/my-project</span>$</code></pre>
</div>

#### In the browser

<div class="width-full">
<pre class="terminal"><code><span class='gray'>// Quickly navigate to the pull request creation page</span>
<span class='magenta'>~/Projects/my-project</span>$ gh pr create -w
Opening https://github.com/owner/repo/pull/branch in your browser.
<span class='magenta'>~/Projects/my-project</span>$</code></pre>
</div>
{% endif %}
