{% if page.url == '/gh_pr_list.html' or page.url == '/gh_issue_list.html' or  page.url == '/examples.html' %}
{% if page.url != '/examples.html' %}
<h3>Examples in use</h3>
{% endif %}
{% if page.url == '/examples.html' %}
<h3 id="using-lists">Using lists of issues or pull requests in a repository</h3>
{% endif %}

<h4>Default behavior</h4>

You will see the most recent 20 open items

<div class="width-full">
<pre class="terminal"><code><span class='gray'>// Viewing a list of open issues</span>
<span class='magenta'>~/Projects/my-project</span>$ gh issue list
Issues for owner/repo

<span class='green'>#16</span>  testing cli
<span class='green'>#14</span>  bleep
<span class='green'>#13</span>  Testing!      <span class='gray'>(enhancement)</span>
<span class='green'>#8</span>   bleep bloop   <span class='gray'>(bug)</span>

<span class='magenta'>~/Projects/my-project</span>$</code></pre>
</div>

<h4>Filtering with flags</h4>
You can use flags to filter the list for your specific use cases.

<div class="width-full">
<pre class="terminal"><code><span class='gray'>// Viewing a list of closed pull requests assigned to a user</span>
<span class='magenta'>~/Projects/my-project</span>$ gh pr list --state closed --assignee user
Pull requests for owner/repo

<span class='red'>#13</span>  Testing!      <span class='cyan'>update-items</span>
<span class='red'>#8</span>   bleep bloop   <span class='cyan'>add-feature</span>

<span class='magenta'>~/Projects/my-project</span>$</code></pre>
</div>

{% endif %}
