<nav>
  <a href="/gh">
    <h3>Overview</h3>
  </a>
  <a href="/installation">
    <h3>Installation</h3>
  </a>
  <a href="/gh_pr">
    <h3>pr</h3>
  </a>
  <a href="/gh_pr_create">create</a>
  <a href="/gh_pr_status">status</a>
  <a href="/gh_pr_list">list</a>
  <a href="/gh_pr_view">view</a>
  <a href="/gh_pr_checkout">checkout</a>
  <a href="/gh_issue">
    <h3>issue</h3>
  </a>
  <a href="/gh_issue_create">create</a>
  <a href="/gh_issue_status">status</a>
  <a href="/gh_issue_list">list</a>
  <a href="/gh_issue_view">view</a>
</nav>
