pre.terminal {
  // background: $black;
  // color: $white;

  .gray {
    color: $gray-500 !important;
  }

  .cyan {
    color: $blue-500 !important;
  }

  .green {
    color: $green-500 !important;
  }

  .red {
    color: $red-500 !important;
  }

  .magenta {
    color: $pink-500 !important;
  }

  .yellow {
    color: $yellow-800 !important;
  }
}
