pre.terminal {
  background: $black;
  color: $white;
  padding: $spacer-3;
  border-radius: 3px;
  margin-bottom: $spacer-2;
  font-size: $h5-size;
  line-height: 1.7;

  .gray {
    color: $gray-400 !important;
  }

  .cyan {
    color: $blue-300 !important;
  }
}
