pre.terminal {
  background: $black;
  color: $white;

  .gray {
    color: $gray-400 !important;
  }

  .cyan {
    color: $blue-300 !important;
  }

  .green {
    color: $green-400 !important;
  }

  .red {
    color: $red-400 !important;
  }
}
