// TODO change names
.lp-contribute-section::after {
  display: none;
  position: absolute;
  top: 48%;
  right: -9%;
  z-index: -1;
  width: 99%;
  height: 95%;
  margin-top: -15%;
  content: "";
  background: url(../assets/images/dots-small.svg);

  @include breakpoint(md) {
    display: block;
  }
}
