// New marketing site styles added in 2018
// These are not yet in Primer
// https://github.com/github/github/blob/master/app/assets/stylesheets/custom/site/temp/site-relaunch.scss

$gray-450: mix($gray-500, $gray-400, 50%);
$box-shadow-large-mktg: 0 4px 14px rgba(0, 0, 0, 0.1);

// Colors - colors without the -mktg suffix are new and not based on exisitng primer classes

.bg-blue-dark {
  background-color: $blue-800 !important;
}

.bg-orange {
  background: $orange-400 !important;
}

.text-blue-mktg {
  color: $blue-mktg !important;
}

.text-blue-light {
  color: $blue-300 !important;
}

.text-green-mktg {
  color: $green-mktg !important;
}

.text-white-fade {
  color: $white-fade-70 !important;
}

// Text stylings

.text-gray-light-ultra {
  font-style: normal;
  font-weight: $font-weight-normal;
  color: $gray-450;
}

.underline-dashed {
  display: inline;
  padding-bottom: $spacer-1;
  background-image: linear-gradient(to right, $gray-300 50%, rgba(255, 255, 255, 0) 0%);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 10px 1px;
}

.link-mktg {
  color: $blue-mktg;
  text-decoration: none !important;
  box-shadow: 0 1px 0 0 rgba($blue-mktg, 0.5);
  transition: $transition-time / 2;

  &:hover {
    color: $blue-500;
    box-shadow: 0 1px 0 0 rgba($blue-mktg, 1);
  }
}

.link-white-mktg {
  color: $white;
  text-decoration: none !important;
  box-shadow: 0 1px 0 0 rgba($white, 0.5);
  transition: $transition-time / 2;

  &:hover {
    box-shadow: 0 1px 0 0 rgba($white, 1);
  }
}

//  Components

.Tile {
  position: relative;
  display: block;
  min-height: 250px;
  background-color: $gray-100;
  border-radius: $border-radius;
  transition: $transition-time;

  &:hover {
    background-color: $white;
    box-shadow: $box-shadow-large-mktg;
  }

  &:active {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  }
}

// Reveals dot grid on hover behind the tile

.Tile--dots {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 180px;
    height: 180px;
    content: "";
    background: url("/assets/img/site/dots-small.svg");
    opacity: 0;
    transition: $transition-time;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 180px;
    height: 180px;
    content: "";
    background: url("/assets/img/site/dots-small.svg");
    opacity: 0;
    transition: $transition-time;
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: translate3d(-18px, -18px, 0);
    }

    &::after {
      opacity: 1;
      transform: translate3d(23px, 23px, 0);
    }
  }

  &:active {
    &::before {
      opacity: 0.5;
      transform: translate3d(-10px, -10px, 0);
    }

    &::after {
      opacity: 0.5;
      transform: translate3d(18px, 18px, 0);
    }
  }
}

// Reveals diagonal arrow on hover

.Tile--symbol {
  &::before {
    position: absolute;
    top: $spacer-3;
    right: $spacer-4;
    font-size: $h2-size;
    content: "→";
    opacity: 0;
    transition: $transition-time, color 0s;
    transform: rotate(-45deg) translateX(-$spacer-1 + 1);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: rotate(-45deg) translateX(0);
    }
  }

  &:active {
    &::before {
      opacity: 1;
      transition: $transition-time / 2;
      transform: rotate(-45deg) translateX(-$spacer-1 - 1);
    }
  }
}

// Places a 4 dot wide border along the top and left

.bg-dots-gray {
  background: url("/assets/img/site/dots-small.svg");
}

.dots-4 {
  position: relative;

  &::before {
    position: absolute;
    top: -$spacer-5 + 1;
    left: -$spacer-5 + 1;
    z-index: -1;
    width: 75%;
    height: 75%;
    content: "";
    background: url("/assets/img/site/dots-small.svg");
  }
}

// Places a 3 dot wide border along the top and left

.dots-3 {
  position: relative;

  &::before {
    position: absolute;
    top: -$spacer-4 + 3;
    left: -$spacer-4 + 3;
    z-index: -1;
    width: 75%;
    height: 75%;
    content: "";
    background: url("/assets/img/site/dots-small.svg");
  }
}

// Adds a gray and dotted plane (small dots) as pseudo elements to container in hero behind illustrations

.bg-hero-dots-gray {
  position: relative;

  &::before {
    position: absolute;
    top: -$spacer-7;
    left: -$spacer-9;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $gray-000;
  }

  &::after {
    position: absolute;
    bottom: -$spacer-3;
    z-index: -2;
    width: 100%;
    height: 100%;
    content: "";
    background: url("/assets/img/site/dots-small.svg");
  }

  // modifier class moves gray bg element to be wider on the left on wider vw
  &.bg-hero-dots-gray-left {
    @include breakpoint(xl) {
      &::before {
        left: -$spacer-11 * 2;
        width: $spacer-11 * 6;
        height: 107%;
      }

      &::after {
        bottom: -$spacer-10;
      }
    }
  }

  // modifier class moves gray bg element to be wider on the right on wider vw
  &.bg-hero-dots-gray-right {
    &::before {
      top: -$spacer-6;
      right: -$spacer-10;
      left: auto;
      height: 107%;

      @include breakpoint(lg) {
        right: -$spacer-11 * 2;
        width: $spacer-11 * 6;
      }
    }

    &::after {
      bottom: -$spacer-8;

      @include breakpoint(xl) {
        bottom: -$spacer-10;
      }
    }
  }
}

.bg-dots-big {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background: url("/assets/img/site/dots-large.svg");
}

.Point {
  &:hover {
    .Point-symbol {
      transform: translateY(-$spacer-1 - 1);
    }
  }
}

.Point-symbol {
  transition: $transition-time / 2;
  transform: translateY(0);
}

// Arrow links

.Bump-link-symbol {
  display: inline-block;
  transition: $transition-time / 2;
  transform: translateX(0);
}

.Bump-link:hover .Bump-link-symbol {
  transform: translateX(3px);
}

.Bump-link--hover .Bump-link-symbol {
  color: inherit;
  opacity: 0;
  transition: $transition-time / 2;
  transform: translateX(0);
}

.Bump-link--hover:hover .Bump-link-symbol {
  opacity: 1;
  transform: translateX(3px);
}

.offset-n2 {
  margin-left: -(2 / 12 * 100%) !important;
}

.mr-n7 {
  margin-right: -$spacer-7 !important;
}

// z-index for absolute positioned items
.z-1 { z-index: 1; }

.z-n1 { z-index: -1; }
.z-n2 { z-index: -2; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
